@import url('modern-normalize/modern-normalize.css');


:root {
  /* Fonts */

  --poppins-family: 'Poppins', sans-serif;
  --impact-family: 'Impact', sans-serif;
  --montserrat-family: 'Montserrat', sans-serif;
  /* colors */

  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;

  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  all: unset;
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

body {
  font-family: var(--poppins-family), sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: light-dark(var(--white), var(--black));
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  font-family: var(--impact-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: light-dark(var(--black), var(--white));
}

.theme-light {
  color-scheme: light;
}
.theme-dark {
  color-scheme: dark;
}
