.section.about-me {
  padding: 30px 15px;
  background-color: var(--bg-light);
  text-align: center;
}

.about-me-main {
  align-items: start;
  margin: 0 auto;
}

.section-title {
  display: flex;
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  color: var(--black);
  margin-bottom: 40px;
}

.span {
  color: var(--accet-green);
}

.picture-about {
  border-radius: 16px;
  display: block;
  width: 320px;
height: 374px;
}

.decor-bg {
  display: none;
}
.bio-title-item {
  display: flex;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black);
  margin: 40px 0 32px 0;
}
.about-bio {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  list-style-type: none;
}

.bio-title,
.role-title {
  display: flex;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black);
  text-align: left;
  margin: 40px 0 32px 0;
}
.about-bio-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: 24px;
}

.about-education,
.about-role {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  gap: 12px;
}

.about-role-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about-list {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  font-family: var(--font-family);
}
ul {
  list-style-type: square;
  color: var(--black);
}

li::marker {
  color: #00b894;
}

/* ===============Tablet Styles =============== */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-title {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .about-me-main {
    flex-direction: column;
  }
  .about-content-row {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
  }
  .bio-title-item {
    display: flex;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 0 32px 0;
    
  }
  .bio-title,
.role-title  {
    display: flex;
}
  .picture-about {
    margin-top: 395px;
    border-radius: 16px;
    width: 336px;
height: 392px;
  }

  .about-bio-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 336px;
  }

  .education-box-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 32px;
    margin-top: 20px;
  }

  .decor-bg {
    display: flex;
    position: absolute;
    right: 0%;
    filter: blur(3px);
    margin-top: 50%;
    transform: translateY(155%);
    z-index: 0;
    pointer-events: none;
  }
  .about-education-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 336px;
  }

  .about-education,
  .about-role {
    padding-left: 25px;
  }
}

/* ===============Dectop Styles =============== */
/* =============== Large Desktop (1440px+) =============== */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .about-me-main {
    flex-direction: column;
  }

  .picture-about {
    margin-top: 22%;
    margin-left: 208px;
    width: 384px;
height: 448px;
  }

  .about-content-row {
    display: flex;
    gap: 136px;
    align-items: flex-start;
    width: 100%;
    position: relative;
    width: 1280px;
  }

  .about-bio-box {
    width: 488px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .bio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.01em;
  }
  .about-role-box {
    text-align: left;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 384px;
  }
  .about-bio-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  .education-box-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 136px;
    margin-top: 40px;
    width: 1280px;
  }
  .bio-title-item {
    margin: 0 0 32px 0;
  }
  .about-education {
    width: 384px;
    padding-left: 25px;
  }

  .decor-bg {
    display: flex;
    position: absolute;
    right: 5%;
    filter: blur(3px);
    margin-top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    pointer-events: none;
  }
  .section-title {
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .about-education,
  .about-role {
    padding-left: 25px;
  }
}
