.faq-header-tale {
  color: light-dark(#00b068, #14c57c);
}

.faq-accordion {
  margin-top: 40px;
  max-width: 100%;
}

.faq-ac-item {
  padding: 28px 24px;
  border-bottom: 1px solid light-dark(#e4e5e6, #f0f0f0);
}

.faq-ac-item:last-child {
  padding-bottom: 0;
}

.faq-ac-item:last-child.is-open {
  padding-bottom: 28px;
}

.faq-ac-item.is-open {
  background: light-dark(#bcdfd1, #204136);
  border-radius: 16px;
  border: none;
}

.faq-ac-trigger {
  display: flex;
  gap: 16px;
}

svg.faq-arrow {
  fill: transparent;
}

.ac-trigger::after {
  display: none !important;
}

.faq-ac-item-header {
  font-family: var(--poppins-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: light-dark(#292929, #f0f0f0);
  width: 207px;
}

.faq-ac-item-text {
  font-family: var(--poppins-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: light-dark(#292929, #f0f0f0);
  overflow: hidden;
  opacity: 0;
}

.is-open .faq-ac-item-text {
  opacity: 1;
  margin-top: 24px;
}

.faq-arrow {
  stroke: light-dark(#292929, #f0f0f0);
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.is-open .faq-arrow {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .section-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .faq-accordion {
    margin-top: 60px;
  }

  .faq-ac-trigge {
    gap: 24px;
  }

  .faq-ac-item-header {
    line-height: 1.6;
    font-size: 20px;
    font-weight: 400;
    width: 600px;
  }
}
@media (min-width: 1280px) {
  .faq-container {
    display: flex;
    gap: 104px;
    background-image: url(../../img/faq-image/faq-bg.svg);
    background-size: auto;
    background-position: 16px bottom;
    background-repeat: no-repeat;
  }

  .faq-accordion {
    margin-top: 276px;
  }

  .faq-ac-item-header {
    width: 488px;
  }
}
