@import 'swiper/swiper-bundle.css';
@import 'izitoast/dist/css/iziToast.min.css';

@media screen and (min-width: 768px) {
  .section {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  font-family: var(--impact-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: light-dark(var(--black), var(--white));
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  margin-bottom: 80px;
}

.swiper {
  width: 320px;
  height: 296px;
  position: relative;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 704px;
    height: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper {
    width: 1216px;
  }
}

.swiper-slide {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  background: light-dark(var(--light-grey), var(--charcoal-dt));
  border-radius: 16px;
}

.review-paragraph {
  margin-bottom: 24px;
  color: light-dark(var(--black), var(--white));
}
.review-person {
  display: flex;
  justify-content: flex-start;
}

.review-img {
  border-radius: 24px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.review-name {
  font-family: var(--poppins-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: light-dark(var(--black), var(--white));
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: flex;
  gap: 16px;
}
.button-style {
  stroke-width: 2px;
  fill: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid light-dark(var(--light-grey), var(--charcoal-dt));
  border-radius: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.icon-svg {
  stroke: light-dark(var(--light-grey), var(--charcoal-dt));
}
.icon-svg use {
  stroke: inherit;
}
.prev {
  transform: scaleX(-1);
}

.button-style:hover,
.button-style:focus {
  background: light-dark(var(--light-grey), var(--charcoal-dt));
}

.active {
  stroke: light-dark(var(--black), var(--white));
  border: 1px solid light-dark(var(--black), var(--white));
}

.disableHoverFocus {
  cursor: default;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .paragraph-wrapper {
    height: 168px;
    overflow-y: auto;
  }
}

.hidden {
  display: none;
}
