.let-title {
  font-family: var(--impact-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.work-title {
  color: var(--accet-green);
}
.work-info {
  font-family: var(--poppins-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}
@media screen and (min-width: 768px) {
  .let-title {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02;
  }
  .work-info {
    font-size: 20px;
    line-height: 160%;
  }
}
.form-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 258px;
  height: 104px;
}
.item-link {
  font-family: var(--poppins-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}
.form-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
  width: 320px;
  height: 48px;
  background: var(--light-grey);
}
.form-textarea {
  border-radius: 8px;
  padding: 16px;
  width: 320px;
  height: 128px;
  background: var(--light-grey);
}
.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 12px 24px;
  width: 320px;
  height: 48px;
  background: var(--accet-green);
}
