<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo"
        >Lloyd<span class="logo-accent">Jefferson.</span></a
      >

      <label class="theme-toggle">
        <input class="theme-checkbox" type="checkbox" name="theme" />
        <span class="switcher">
          <svg class="switcher-icon swithcer-icon-sun" width="48" height="24">
            <use href="./img/sprite.svg#icon-switch-light"></use>
          </svg>
          <svg class="switcher-icon switcher-icon-moon" width="48" height="24">
            <use href="./img/sprite.svg#icon-switch-dark"></use>
          </svg>
        </span>
      </label>

      <ul class="menu-list">
        <li class="menu-list-item">
          <a href="#about" class="menu-list-link">About me</a>
        </li>
        <li class="menu-list-item">
          <a href="#proj-section" class="menu-list-link">Projects</a>
        </li>
        <li class="menu-list-item">
          <a href="#contacts" class="menu-list-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="burger-menu-btn">
      <svg class="burger-menu-svg" width="32" height="32">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="burger-menu-modal">
  <div class="burger-menu-container">
    <a href="./index.html" class="logo burger-menu-logo"
      >Lloyd<span class="logo-accent">Jefferson.</span></a
    >
    <button class="burger-menu-close-btn">
      <svg class="burger-menu-close-svg" width="32" height="32">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>

    <div class="burger-menu-wrapper">
      <ul class="burger-menu-list">
        <li class="burger-menu-list-item">
          <a href="#about" class="burger-menu-list-link">About me</a>
        </li>
        <li class="burger-menu-list-item">
          <a href="#proj-section" class="burger-menu-list-link">Projects</a>
        </li>
        <li class="burger-menu-list-item">
          <a href="#contacts" class="burger-menu-list-link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
