<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-start">Hello, I am</span>
      <span class="hero-title-accent">Fullstack developer</span>
    </h1>
    <div class="hero-info">
      <a href="#contacts" class="hero-link">
        <svg class="hero-link-svg" width="28" height="20">
          <use href="./img/sprite.svg#icon-Arrow-order"></use>
        </svg>
        Order the project</a
      >
      <p class="hero-text">
        I work with people all over the world to create
        <span class="hero-text-accent">impressive</span> and
        <span class="hero-text-accent">functional websites</span> that reflect
        each client's unique personality.
      </p>
    </div>

    <div class="hero-socials">
      <ul class="socials-list">
        <li class="socials-list-item">
          <a href="" class="socials-list-link">Instagram</a>
        </li>
        <li class="socials-list-item">
          <a href="" class="socials-list-link">Facebook</a>
        </li>
        <li class="socials-list-item">
          <a href="" class="socials-list-link">Linkedin</a>
        </li>
        <li class="socials-list-item">
          <a href="" class="socials-list-link">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>
