<a href="../index.html"></a>
      <section class="section">
        <div class="about-me-main container">
          <h2 class="title-about">ABOUT<span>ME</span></h2>
          <div class="about-bio">
            <h3 class="bio-title">BIO</h3>
            <p class="about-bio-text">
              I'm Lloyd Jefferson, a talented programmer specializing in
              software development. My expertise spans various programming
              languages and technologies, and I am dedicated to continually
              enhancing my skills. I thrive on seeking unconventional and
              creative solutions to problems, leveraging a high level of
              analytical skills to effectively tackle even the most challenging
              tasks.
            </p>
            <p class="about-bio-text">
              Adaptable to both independent and team-oriented work, I
              collaborate seamlessly with colleagues, exchanging ideas and
              finding optimal solutions. My professional maturity enables me to
              navigate challenges and stressful situations with a calm demeanor,
              maintaining a consistently high quality of work. Committed to
              self-improvement, I actively engage in studying new technologies
              and practices to stay current with the latest innovations in the
              field.
            </p>
          </div>
          <div class="about-img">
            <picture>
              <img src="../img/img-about/imgdectop.webp" alt="Person with laptop" width="384" height="448">
              <img src="../img/img-about/decoBg.webp" alt="background" width="394" height="297">
            </picture>
          </div>
          <div class="about-previwe">
            <div class="education">
              <h3 class="bio-title">EDUCATION</h3>
              <ul class="about-item">
                <li class="about-list">
                  2018 - 2019 / Frontend Development Diploma, GoIT IT School,
                  New York
                </li>
                <li class="about-list">
                  2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                  School, New York
                </li>
                <li class="about-list">
                  2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                </li>
              </ul>
              <div class="role">
                <h3 class="bio-title">ROLE</h3>
                <ul class="about-item">
                  <li class="about-list">Frontend Development</li>
                  <li class="about-list">HeadlessCMS, Wordpress</li>
                  <li class="about-list">Blender (enjoy)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
 
