<section class="section" id="about">
    <div class="container background__about">
        <!-- about-me-section -->
        <h2 class="about__title"> About
            <!-- about-me-section-span -->
            <span class="about__title-span">me</span>
        </h2>



        <!-- about-me-container -->
        <div class="about__bio-wrapper">
            <!-- about-me-photo -->
            <picture class="about__bio-picture">
                <source media="(min-width: 1280px)"
                    srcset="/img/03-about/desktop-about-@1x.webp 1x, /img/03-about/desktop-about-@2x.webp 2x"
                    type="image/jpg" />
                <source media="(min-width: 768px)"
                    srcset="/img/03-about/tablet-about-@1x.webp 1x, /img/03-about/tablet-about-@2x.webp 2x"
                    type="image/jpg" />
                <source media="(max-width: 767.98px)"
                    srcset="/img/03-about/mob-about-@1x.webp 1x, /img/03-about/mob-about-@2x.webp 2x"
                    type="image/jpg" />
                <!-- about-me-img -->
                <img class="about__bio-image" src="/src/img/03-about/mob-about-@2x.webp" alt="Lloyd Jefferson Photo"
                    width="384" height="448" />
            </picture>

            <!-- bio -->
            <div class="about__bio">
                <!-- bio-title -->
                <h3 class="about__bio-title">Bio</h3>
                <!-- about__bio-text -->
                <p class="about__bio-text about__bio-text-margin">
                    I'm Lloyd Jefferson, a talented programmer specializing in software
                    development. My expertise spans various programming languages and
                    technologies, and I am dedicated to continually enhancing my skills. I
                    thrive on seeking unconventional and creative solutions to problems,
                    leveraging a high level of analytical skills to effectively tackle
                    even the most challenging tasks.
                </p>

                <p class="about__bio-text">
                    Adaptable to both independent and team-oriented work, I collaborate
                    seamlessly with colleagues, exchanging ideas and finding optimal
                    solutions. My professional maturity enables me to navigate challenges
                    and stressful situations with a calm demeanor, maintaining a
                    consistently high quality of work. Committed to self-improvement, I
                    actively engage in studying new technologies and practices to stay
                    current with the latest innovations in the field.
                </p>
            </div>
        </div>




        <!-- about-me-info -->
        <div class="about__info">
            <!-- about-me-content-item -->
            <div class="about__info-education">
                <!-- educ-title -->
                <h4 class="about__info-education-title">Education</h4>
                <!-- educ-list -->
                <ul class="about__info-education-list">
                    <!-- educ-list-item -->
                    <li class="about__info-education-item">
                        <!-- educ-list-text -->
                        <p class="about__info-education-text">
                            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                            York
                        </p>
                    </li>

                    <li class="about__info-education-item">
                        <p class="about__info-education-text">
                            2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                            School, New York
                        </p>
                    </li>

                    <li class="about__info-education-item">
                        <p class="about__info-education-text">
                            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                        </p>
                    </li>
                </ul>
            </div>
            <!-- about-me-content-list -->
            <div class="about__info-role">
                <!-- role-title -->
                <h4 class="about__info-role-title">Role</h4>
                <!-- role-list -->
                <ul class="about__info-role-list">
                    <!-- role-list-item -->
                    <li class="about__info-role-item">
                        <!-- role-list-text -->
                        <p class="about__info-role-text">Frontend development</p>
                    </li>
                    <li class="about__info-role-item">
                        <p class="about__info-role-text">HeadlessCMS, Wordpress</p>
                    </li>
                    <li class="about__info-role-item">
                        <p class="about__info-role-text">Blender (enjoy)</p>
                    </li>
                </ul>
            </div>

        </div>




    </div>
</section>