<section class="section tech-skills">
  <div class="marquee green">
    <div class="marquee__inner">
      <ul class="marquee__line">
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
      </ul>
      <ul class="marquee__line">
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
      </ul>
      <ul class="marquee__line">
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
      </ul>
    </div>
  </div>
  <div class="marquee gray">
    <div class="marquee__inner">
      <ul class="marquee__line">
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
      </ul>
      <ul class="marquee__line">
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
      </ul>
      <ul class="marquee__line">
        <li class="marquee__item">Node.js</li>
        <li class="marquee__item">React Native</li>
        <li class="marquee__item">Typescript</li>
        <li class="marquee__item">HTML/CSS</li>
        <li class="marquee__item">JavaScript</li>
        <li class="marquee__item">React</li>
      </ul>
    </div>
  </div>
</section>
