<section class="benefits">
    <div class="container benefits__background">
        <h2 class="benefits__title">
            Benefits <span class="benefits__title-span"> of working with me</span>
        </h2>
        <ul class="benefits__list">
            <li class="benefits__item">

                <div class="benefits__item-wrapper">
                    <svg class="benefits__item-icon" width="24" height="24">
                        <use href="/img/sprite.svg#icon-user"></use>
                    </svg>
                </div>

                <h3 class="benefits__item-title">Expertise</h3>
                <p class="benefits__item-text">
                    With extensive experience in development, I have a deep understanding of programming and website
                    development.
                </p>
            </li>

            <li class="benefits__item">
                <div class="benefits__item-wrapper">
                    <svg class="benefits__item-icon" width="24" height="24">
                        <use href="/img/sprite.svg#icon-message"></use>
                    </svg>
                </div>

                <h3 class="benefits__item-title">Communication</h3>
                <p class="benefits__item-text">
                    Understanding your needs and wants is my priority and I am always available for discussions and open
                    to corrections.
                </p>
            </li>

            <li class="benefits__item">
                <div class="benefits__item-wrapper">
                    <svg class="benefits__item-icon" width="24" height="24">
                        <use href="/img/sprite.svg#icon-brush"></use>
                    </svg>
                </div>
                <h3 class="benefits__item-title">Art</h3>

                <p class="benefits__item-text">
                    Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.
                </p>
            </li>

            <li class="benefits__item">
                <div class="benefits__item-wrapper">
                    <svg class="benefits__item-icon" width="24" height="24">
                        <use href="/img/sprite.svg#icon-hourglass"></use>
                    </svg>
                </div>
                <h3 class="benefits__item-title">Urgent execution</h3>
                <p class="benefits__item-text">
                    I understand how important time is to you. Ready to work quickly and efficiently, without reducing
                    the quality of work.
                </p>
            </li>
        </ul>
    </div>
</section>