<section class="section">
  <div class="container">
    <div class="reviews-wrapper">
      <h3 class="reviews-title">Reviews</h3>
      <div class="swiper">
        <ul class="swiper-wrapper"></ul>
      </div>

      <div class="buttons-wrapper">
        <div class="buttons">
          <div class="button-prev-js button-style prev disableHoverFocus">
            <svg class="icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </div>
          <div class="button-next-js button-style active">
            <svg class="icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
