<section class="container">
  <div class="together-container">
    <h2 class="let-title">
      Let's
      <span class="work-title"
        >work <br />
        together</span
      >
    </h2>
    <p class="work-info">
      Contact me to transform your ideas into exceptional solutions.
    </p>
    <div>
      <ul class="form-contacts">
        <li class="form-item"><a>+38 090 456 78 90</a></li>
        <li class="form-item"><a>lloydjefferson@gmail.com</a></li>
        <li class="form-item"><a>USA, New York</a></li>
      </ul>
    </div>
    <form>
      <input
        name="email"
        type="text"
        class="form-input"
        placeholder="Your email*"
      />
      <textarea
        name="message"
        type="text"
        class="form-textarea"
        placeholder="Message"
      ></textarea>
      <button type="submit" class="form-button">Send Message</button>
    </form>
  </div>
</section>
