<section class="work-together">
  <h2>Let's <span class="work-togethe-span">work together</span></h2>
  <p>Contact me to transform your ideas into exceptional solutions.</p>
  <div>
    <ul>
      <li><a>+38 090 456 78 90</a></li>
      <li><a>lloydjefferson@gmail.com</a></li>
      <li><a>USA, New York</a></li>
    </ul>
  </div>
  <form>
    <input name="email" type="input" placeholder="Your email*" />
    <textarea name="message" type="text" placeholder="Message"></textarea>
    <button>Send Message</button>
  </form>
</section>
