<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <p class="logo">LLOYD<span>JEFFERSON.</span></p>
      <nav>
        <ul class="footer-link-list">
          <li>
            <a class="footer-link" href="https://www.instagram.com/goitclub/"
              >Instagram</a
            >
          </li>
          <li>
            <a class="footer-link" href="https://www.facebook.com/goITclub/"
              >Facebook</a
            >
          </li>
          <li>
            <a
              class="footer-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              >Linkedin</a
            >
          </li>
          <li>
            <a
              class="footer-link"
              href="https://github.com/zvladoss/SyntaxSquadProj"
              >GitHub</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-copyright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
